[Unit]
Description=Epson Network RS232 Projector
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/sbin/epson-rs232-projector-network-bridge
Environment="HTTP_PORT=80"
Environment="LOG_LEVEL=debug"

[Install]
WantedBy=multi-user.target
